<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Hello</servlet-name>
        <servlet-class>controllers.Hello</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controllers.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonalVideoServlet</servlet-name>
        <servlet-class>controllers.PersonalVideoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrendingServlet</servlet-name>
        <servlet-class>controllers.TrendingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentServlet</servlet-name>
        <servlet-class>controllers.CommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Explore</servlet-name>
        <servlet-class>controllers.Explore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>controllers.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FollowServlet</servlet-name>
        <servlet-class>controllers.FollowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProfile</servlet-name>
        <servlet-class>controllers.editProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Hello</servlet-name>
        <url-pattern>/Hello</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonalVideoServlet</servlet-name>
        <url-pattern>/PersonalVideoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrendingServlet</servlet-name>
        <url-pattern>/trending</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentServlet</servlet-name>
        <url-pattern>/comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Explore</servlet-name>
        <url-pattern>/explore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FollowServlet</servlet-name>
        <url-pattern>/follow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProfile</servlet-name>
        <url-pattern>/editProfile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
